html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  text-align: center;
}

.score {
  width: 100%;
  text-align: center;
  position: absolute;
}

#game-canvas {
  display: absolute;
  height: 100%;
  image-rendering: pixelated;
}
